<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("./partials/header.ejs")-%>
  </head>

  <body>
    <div>
      <%-include("./partials/formulario.ejs")-%>
      <%-include("./partials/historial.ejs")-%>
    </div>
  </body>
</html>
